# Dependencies
/node_modules
/.pnp
.pnp.js

# Next.js build output
/.next/
/out/

# Production build
/build

# Miscellaneous
.DS_Store
*.pem
.env
.env.local
.env.production.local
.env.development.local

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# IDE-specific
/.idx/
